<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <container class="form">
        <form action="/new" method="post">
            <h1>Type your message</h1>
            <div>
                <div>  <label for="name">Name</label>
                </div>
                <input type="text" name="name" id="name">
            </div>
            <div>
               <div> <label for="message">Message</label></div>
            <input type="text" name="message" id="message">
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </container>
   
</body>
</html>
